/** @format */
.btn {
	@apply cursor-pointer transition duration-100 ease-in-out rounded-md shadow-md;
	&:active:focus {
		transform: scale(0.95);
	}
}

.btn-shadow {
	@apply shadow-[0_8px_15px_rgba(0,0,0,0.3),0_4px_6px_rgba(0,0,0,0.2)];
}
.btn-neutral {
	@apply bg-neutral;
}

.btn-primary {
	@apply bg-primary;
}
.btn-secondary {
	@apply bg-secondary;
}
.btn-accent {
	@apply bg-accent;
}
.btn-ghost {
	@apply bg-ghost;
}
.btn-info {
	@apply bg-info;
}
.btn-success {
	@apply bg-success;
}
.btn-warning {
	@apply bg-warning;
}
.btn-error {
	@apply bg-error;
}
.btn-link {
	@apply bg-transparent p-0! underline! underline-offset-4 shadow-none;
}

.btn-xs {
	@apply h-6 px-2;
	font-size: 0.75rem;
}
.btn-sm {
	@apply h-8 px-3;
	font-size: 0.875rem;
}
.btn-md {
	@apply h-12 px-4;
	font-size: 0.875rem;
}
.btn-lg {
	@apply h-16 px-6;
	font-size: 1.125rem;
}

.loading-container {
	@apply absolute inset-0 flex items-center justify-center;
}
