/** @format */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-neutral: #64748b;
	--color-primary: #2563eb;
	--color-secondary: #9333ea;
	--color-accent: #f97316;
	--color-ghost: #94a3b8;
	--color-info: #06b6d4;
	--color-success: #16a34a;
	--color-warning: #f59e0b;
	--color-error: #dc2626;
}

@import './components/Button/styles.css';
@import './components/Loading/styles.css';
@import './components/Form/styles.css';
@import './components/DataTable/styles.css';
@import './components/Card/styles.css';
